.project {
    padding-top: 90px; 
  }
  
  .project:first-child {
    padding-top: 0px;
    margin-top: -3px;
  }
  
  .project-img {
    height: 100%;
    width: 1150px;
  }
  
  .project_p {
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: left;
    
  }
  
  .a_project {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #AD1818;
    text-decoration: none;
  }
  .look_all_projects {
   margin-top:90px;
   margin-bottom: 150px;
   cursor: pointer;
  }
  
  .look_all_projects a {
  display: block;
  /* height: 153px; */
  width: 100%;
  border: 1px solid #AD1818;
  border-radius: 5px;
  color: #AD1818;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.03em;
  }
  
  .look_all_projects a:hover {
    color: #ffffff;
    background-color: #AD1818;
  }
 
  @media (max-width:1199px) {
    .project {
        padding-top: 80px;
      }
    
      .project-img {
        width: 100%;
      }
    
      .project_p {
        font-size: 25px;
        line-height: 34px;
      }
  }
  @media (max-width:767px) { 
    .project-img {
        height: 250px;
        object-fit: cover;
      }
      .project_p {
        font-size: 18px;
        line-height: 25px;
      }
      .a_project {
        font-size: 16px;
        line-height: 22px;
      }
      .project {
        padding-top: 49px; 
      }
      .look_all_projects {
      margin-top: 60px;
      }
      .look_all_projects a {
        font-size: 22px;
        line-height: 100px;
      }
  }