@import url(./header.css);
@import url(./info.css);
@import url(./room.css);
@import url(./projects.css);
@import url(./services.css);
@import url(./popup.css);
@import url(./reviews.css);
@import url(./contacts.css);
@import url(./footer.css);
@import url(./gallery.css);
@import url(./input.css);
@import url(./order.css);
@import url(./burger.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope',Courier, monospace;
}

.body_fixed {
  overflow: hidden;
}

h1  {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  letter-spacing: -1.8px;
}

h2 {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

@media (max-width: 1199px) {
  
  /* .nav {
   display: none;
  } */

  

  .container {
    width: 100%;
    padding: 0 17px;
  }

  h1 {
    width: 802px;
    font-size: 50px;
  }

  
}


@media (max-width: 767px) {



  .container {
    padding: 0 13px;
  }

  h1 {
    margin-bottom: 25px;
    width: 100%;
    font-size: 30px;
    line-height: 32px;
  }
  h2 {
    padding-bottom: 20px;
    line-height: 19px;
  }
  

}